@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-background: #ffffff; /* Pure white background */
  --color-text: #0f0f0f; /* Near black for clean readability */
  --color-primary: #1a1a1a; /* Jet black for headings or key elements */
  --color-secondary: #444444; /* Dark gray for subtext or UI elements */
  --color-accent: #000000; /* Black accent for buttons, borders, etc. */
  --color-muted: #e5e5e5; /* Light gray for dividers, cards, etc. */
  /* --breakpoint-xs: 30rem;  */
}

/* @layer base {
  h1 {
    @apply ; Doesn't require class name
  }
} */

@layer components {
  .app-container {
    @apply max-w-[1440px] mx-auto relative;
  }
  .subtitle-light {
    @apply text-xs lg:text-sm font-light uppercase text-background/60;
  }
  .subtitle-dark {
    @apply text-xs lg:text-sm font-light uppercase text-text/60;
  }
  .title-light {
    @apply text-4xl lg:text-5xl font-normal;
  }
  .title-dark {
    @apply text-4xl lg:text-5xl font-normal text-text;
  }
  .button {
    @apply text-sm font-medium rounded-full bg-primary text-background px-4 py-2 cursor-pointer hover:opacity-90 transition-opacity;
  }
  .services-card {
    @apply flex flex-col justify-center gap-2 p-4 rounded-xl;
  }
}

/* @layer utilities {
  .class-name {
    @apply ;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}

/* initial
animate
end (before unmounting, required AnimatePresence)
transition (duration, ease, type)
whileHover
whileTap
whileInView
useInView (useRef)
useAnimationControls (action to fire another action)
variant
useScroll
useSpring (uses useScroll)
useTransform (uses useScroll + array of values) */

/* Headlines:        Inter, text-5xl, font-bold */
/* Subheadings:      Inter, text-2xl, font-semibold */
/* Body text:        Inter, text-base, font-normal */
/* Emphasized text:  Inter, text-base, font-medium */
/* Captions:         Inter, text-sm, font-light */
/* Buttons/CTAs:     Inter, text-sm, font-semibold */
/* Code text:        JetBrains Mono, text-sm, font-medium */
/* Input labels:     Inter, text-sm, font-medium */
/* Navigation:       Inter, text-base, font-semibold */
